<!doctype html>
<html>
<head>
  <title>Exist Extras</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://use.fontawesome.com/18ad05af1d.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
</head>
<body>
  <section class="hero is-fullheight is-dark">
    <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-right">
            <span class="nav-item">
              <a class="button is-dark is-inverted" href="https://github.com/jmnsf/exist_extras">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
                <span>Source</span>
              </a>
            </span>
          </div>
        </div>
      </header>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Exist Extras
        </h1>

        <h2 class="subtitle">
          Extra integrations for getting your data into <a href="https://exist.io">Exist</a>
        </h2>

        <a class="button is-dark is-inverted" href="/google">
          <span class="icon">
            <i class="fa fa-google"></i>
          </span>
          <span>Start by Logging In</span>
        </a>
      </div>
    </div>

    <div class="hero-foot">
      <div class="container">
        <p>Built by <a href="https://twitter.com/jmnsferreira">@jmnsferreira</a></p>
      </div>
    </div>
  </section>
</body>
</html>
